.item.item-edit
  form.ajax(action: '/edit/' + item.id, method: 'post')
    h2
      input(type: 'text', name: 'title', value: item.title || '')
    .date
      input(type: 'text', name: 'due', value: item.due || '')
    .description
      textarea(name: 'description')= item.description || ''
    .buttons
      input(type: 'submit', value: 'Save')
      | &nbsp;
      a.cancel(href: '#') Cancel