html
  head
    title My TODO list application
    link(rel: 'stylesheet', href: '/css/main.css')
    script(src: '/socket.io/socket.io.js')
    script(src: '/js/jquery.js')
    script(src: '/js/nodestream.js')
    script(src: '/js/main.js')
  body
    #wrap
      h1 Welcome to my TODO list
      .add
        .wrap
          form(method: 'post', action: '/add')
            fieldset
              legend Add new item
              p Title
              input(name: 'title', placeholder: 'Title')
              p When
              input(name: 'due', placeholder: 'in 3 days')
              p Description
              textarea(name: 'description', placeholder: 'Description')
            .submit
              input(type: 'submit', value: 'Send')
      .items
        - if (items.length)
          - items.forEach(function(item){
          .item
            h2= item.title || ''
            a.edit(href: '/edit/' + item.id) Edit
            a.remove(href: '/delete/' + item.id) Remove
            .date= item.due || ''
            .description!= item.description_formatted
          - })
        - else
          .placeholder
            .wrap No items to show