html
  head
    title My TODO list application
    link(rel: 'stylesheet', href: '/css/main.css')
    link(rel: 'stylesheet', href: '/css/handheld.css', type: 'text/css', media: 'only screen and (max-device-width: 480px)')
    script(src: '/socket.io/socket.io.js')
    script(src: '/js/jquery.js')
    script(src: '/js/nodestream.js')
    script(src: '/js/main.js')
  body
    #wrap
      h1 Welcome to my TODO list
      :realtime(repaint: 'connections', local: 'connections')
        .connections
          - if (connections > 1)
            p #{connections} people are editing right now
          - else
            p You're all alone!
      .add
        .wrap
          form.ajax(method: 'post', action: '/add')
            fieldset
              legend Add new item
              p Title
              input(name: 'title', placeholder: 'Title')
              p When
              input(name: 'due', placeholder: 'in 3 days')
              p Description
              textarea(name: 'description', placeholder: 'Description')
            .submit
              input(type: 'submit', value: 'Send')
      .items
        :realtime(append: 'item.new', repaint: 'item.edit.', remove: 'item.remove.', local: 'items', obj: 'item')
          .item
            h2= item.title || ''
            a.ajax.edit(href: '/edit/' + item.id) Edit
            a.ajax.remove(href: '/delete/' + item.id) Remove
            .date= item.due || ''
            .description!= item.description_formatted
          placeholder
            .wrap No items to show