html
  head
    title My TODO list application
    link(rel: 'stylesheet', href: '/css/main.css')
    script(src: '/socket.io/socket.io.js')
    script(src: '/js/jquery.js')
    script(src: '/js/nodestream.js')
    script(src: '/js/main.js')
  body
    #wrap
      h1 Welcome to my TODO list
      .items
        - if (items.length)
          - items.forEach(function(item){
          .item
            h2= item.name
            a.edit(href: '/edit/' + item.id) Edit
            .date= item.date.
            .description
              p= item.description_formatted
          - })
        - else
          p No items to show