body {
  background: url('/images/background.png');
  padding: 20px;
}

h1 {
  font: 22px Georgia;
  color: #000;
  text-shadow: 0 -1px 0 #fff;
  margin-bottom: 20px;
  text-align: center;
}

#wrap {
  max-width: 500px;
  margin: auto;
}

.items {
  margin-top: 20px;
}

.item {
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.20);
  box-shadow: 0 0 8px rgba(0,0,0,0.20);
  background: #fff url('/images/square.png');
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
}

.item a.edit {
  width: 20px;
  height: 20px;
  background: url('/images/pencil.png') center no-repeat;
  display: none;
  text-indent: -5000px;
  position: relative;
  top: -2px;
  margin: 0 0 0 10px;
}

.item a.remove {
  width: 20px;
  height: 20px;
  background: url('/images/remove.png') center no-repeat;
  display: none;
  text-indent: -5000px;
  position: relative;
  top: -2px;
  margin: 0 0 0 10px;
}

.item a.edit:hover, .item a.remove:hover {
  background-color: #eee;
}

div.item:hover a.edit, div.item:hover a.remove {
  display: inline-block;
}

.item h2 {
  display: inline-block;
  background: #eee;
  border: 1px solid #ccc;
  padding: 3px 5px;
  font: bold 14px Helvetica;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 0;
}

.item .date {
  font: 16px Georgia;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #666;
  text-transform: lowercase;
}

.item .description {
  font: 15px Georgia;
}

.item-edit {
  background: rgba(0,0,0,.8);
  border-width: 0;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,.0);
  box-shadow: 0 0 0 rgba(0,0,0,.0);
  position: absolute;
}

.item-edit h2 {
  background: transparent;
  border-color: transparent;
  padding: 0;
  margin: 10px 0 5px;
}

.item-edit input[type=text], .item-edit textarea {
  border: 0;
  padding: 5px;
  background: #fff;
  margin: 0;
}

.item-edit .buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.item-edit .buttons a {
  color: #eee;
  font: 11px Lucida Grande, Verdana;
  text-decoration: none;
}

.item-edit textarea {
  width: 300px;
}

.add {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.add .wrap {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
  background: rgba(255,255,255,.4);
}

.add fieldset, .add form {
  border: 0;
  margin: 0;
  padding: 0;
}

.add legend {
  padding: 0;
  font: bold 13px Lucida Grande, Verdana;
  text-transform: uppercase;
}

.add p {
  display: inline-block;
  width: 150px;
  font: 11px Lucida Grande, Verdana;
  vertical-align: top;
}

.add .submit {
  text-align: right;
}

.add fieldset input, .add fieldset textarea {
  border: 0;
  background: #fff;
  padding: 8px;
  width: 200px;
}

.placeholder .wrap {
  font: bold 13px Helvetica, Arial;
  padding: 10px 0;
}